


<div>  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bodye ">
<header class="title header"> AK's MEAN PROJECTS</header>
<div class="navbar header">
  <a class="active" routerLink="booklist"><i class="fa fa-fw fa-home"></i>show books</a> 
  <a routerLink="addbook"><i class="fa fa-fw "></i> Add book</a> 
  <a routerLink="about"><i class="fa fa-fw fa-user"></i> About </a>
</div>
</div>
</div>

<router-outlet></router-outlet>
